*{
    margin: 0 ;
    padding: 0;
}

header{
    background-color: #9DB2D1;
    color:hsl(213, 95%, 30%);
    height: 6vw;
    width: fit-content;
    font-weight: bold;
    font-family:sans-serif;
    font-size:xx-large;
    margin: auto;
    margin-bottom: 1vw;
}
ul li{
    display: inline;
    padding: 30px;
}
nav{

    padding: 10px;
    margin-left: 9vw;
}
.container{
    display: flex;
}
.col2{
    margin-left: 30px;
    
}
.secondimage{
    margin: auto;
}
.trending{
    font-size:xx-large;
    margin-top: 15px;
    margin-left: 15px;
}
.images{
    display: flex;
    margin-top: 10px;
    margin-left: 36px;
    
}
.thirdimg{
    padding-right: 5vw;
}